<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <h1 class="navbar-brand">DB System</h1>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" routerLink="/actors" routerLinkActive="active">Actors </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ssss" routerLinkActive="active">View Not Found </a>
    </li>
  </ul>
</div>
      

</nav>

<router-outlet></router-outlet>
