
<!-- Section 3: Update actor -->

<div>
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Select!</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
            <td>{{item.title}}</td>
            <td>{{item.year}}</td>
            <td><button type="submit" class="btn btn-primary" (click)="onSelectUpdate(item)">Update</button></td>
        </tr>
    </table>
    <hr>
    <div *ngIf="moviesDB.length>0">
        <div class="form-group">
            <label for="actorName">Title</label>
            <input type="text" class="form-control" id="actorName" [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="actorName">Year</label>
            <input type="number" class="form-control" id="actorName" [(ngModel)]="year">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onUpdateMovie()">Update Movie</button>
    </div>
</div>