<div class="jumbotron text-center">
    <h1>Movies DB System</h1>
</div>

<!-- The navigation bar -->
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" (click)="changeSection(1)">Home</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" (click)="changeSection(2)">Add Movie</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" (click)="changeSection(3)">Update Movie</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" (click)="changeSection(4)">Delete Movie</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" (click)="changeSection(5)">Delete Movie Before Year</a>
        </li>
        <li class="nav-item" style="padding-left:0.2in">
            <a class="btn btn-primary" (click)="changeSection(6) ">Add Actor to Movie</a>
        </li>
    </ul>
</nav>

<!-- First section: Display all in a tble -->
<div class="section" *ngIf="section==1">
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Actors</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
            <td>{{item.title}}</td>
            <td>{{item.year}}</td>
            <td>
                <ul *ngFor="let actor of item.actors">
                    <li>{{actor.name}}</li>
                </ul>
            </td>
            <td>
                <button type="submit" class="btn btn-primary" (click)="onDeleteMovie(item)">Delete</button>
            </td>
        </tr>
    </table>
</div>

<!-- Second Section: Add new Movie -->
<div class="section" *ngIf="section==2">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="title">
    </div>
    <div class="form-group">
        <label for="year">Release Year</label>
        <input type="number" class="form-control" id="actorName" [(ngModel)]="year">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSaveMovie()">Save Movie</button>
</div>

<!-- Section 3: Update actor -->

<div class="section" *ngIf="section==3">
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Select!</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
            <td>{{item.title}}</td>
            <td>{{item.year}}</td>
            <td><button type="submit" class="btn btn-primary" (click)="onSelectUpdate(item)">Update</button></td>
        </tr>
    </table>
    <hr>
    <div *ngIf="moviesDB.length>0">
        <div class="form-group">
            <label for="actorName">Title</label>
            <input type="text" class="form-control" id="actorName" [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="actorName">Year</label>
            <input type="number" class="form-control" id="actorName" [(ngModel)]="year">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onUpdateMovie()">Update Movie</button>
    </div>
</div>

<!-- Section 4: Delete Movie -->
<div class="section" *ngIf="section==4">
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Delete?</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
            <td>{{item.title}}</td>
            <td>{{item.year}}</td>
            <td><button type="submit" class="btn btn-primary" (click)="onDeleteMovie(item)">Delete</button></td>
        </tr>
    </table>
</div>
<!-- Section 5: Delete Movie before year -->
<div class="section" *ngIf="section==5">
    <table class="table table-striped">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Select!</th>
        </tr>
        <tr *ngFor="let item of moviesDB">
            <td>{{item.title}}</td>
            <td>{{item.year}}</td>
            <td><button type="submit" class="btn btn-primary" (click)="onSelectUpdate(item)">Update</button></td>
        </tr>
    </table>
    <hr>
    <div *ngIf="moviesDB.length>0">
        <div class="form-group">
            <label for="actorName">Year</label>
            <input type="number" class="form-control" id="actorName" [(ngModel)]="aYear">
        </div>
        <button style="margin:0.2%" type="submit" class="btn btn-primary" (click)="deleteMovieBeforeYear(aYear)">Delete Movies before year</button>
    </div>
</div>
<!-- Section 6: Add Actor to movie -->
<div class="section container" *ngIf="section==6">
    <h4>Add Actor to Movie</h4>
    <div class="form-group">
        <div *ngIf="moviesDB.length>0">
            <label>Select Movie</label>
            <select [(ngModel)]="selectedMovie" class="form-control">
                <option *ngFor="let movie of moviesDB" value={{movie._id}}>{{movie.title}}</option>
            </select> 
        </div>
        <div *ngIf="actorsDB.length>0">
            <label>Select Actors</label>
            <select [(ngModel)]="selectedActor" class="form-control">
                <option *ngFor="let actor of actorsDB" value={{actor._id}}>{{actor.name}}</option>
            </select>   
            
        </div>
        
    </div>
    <button *ngIf="selectedMovie && selectedActor" style="margin:0.2%" type="submit" class="btn btn-primary" (click)="onAddActorToMovie()">Add Actor to Movie</button>
    
</div>